@import "@/styles/variables";

.header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: $padding-sm;
    position: sticky;
    top: 0;
    z-index: 100;

    a {
        text-decoration: none;
        color: $black;
    }

    &_scrolled {
        background-color: rgb($white, 96%);

        @include notebook {
            background-color: rgb($white, 85%);
            backdrop-filter: blur(10px);
        }

        >a {
            display: flex;

            div:first-of-type {
                transition: all 0.25s;
                transform-origin: top left;
                width: 37px;
                height: 37px;

                @include notebook {
                    width: 4rem;
                    height: 4rem;
                }
            }

            div:last-of-type {
                width: max-content;
            }
        }
    }
}
