@import "@/styles/variables";

.dataset-card {
    @include col;

    gap: 0.5rem;
    min-height: 10rem;

    @include notebook {
        min-height: 7.5rem;
    }

    &__top-line {
        color: $primary-color-dark;

        @include paragraph;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__description {
        @include paragraph-sm;

        width: 90%;
    }

    &__formats {
        color: $primary-color-dark;
        margin-top: auto;

        @include paragraph;
    }
}
