@import "@/styles/variables";

.frame-wrapper {
    grid-area: iconframe;
    line-height: 13px;
    height: fit-content;
    background: linear-gradient(224.93deg, rgb(150 170 183 / 5%) -0.12%, rgb(114 136 150 / 5%) 100%);
    border: 1px solid rgb(0 51 102 / 20%);
    border-radius: 4px;
    margin-bottom: 2rem;

    .icon-box {
        padding: 1.5rem;

        img {
            object-fit: contain;
            min-width: 230px;
            align-items: center;
            justify-content: center;
        }

        p {
            padding-bottom: 16px;
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #000;
        }

        p:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: #666;
        }

        h2 {
            padding-top: 24px;
            padding-bottom: 3px;
            font-weight: 600;
        }
    }
}
