@import "@/styles/variables";

.counter-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    z-index: 2;

    @include tablet {
        grid-template-columns: 7fr 5fr;
    }

    @include smallscreen {
        grid-template-columns: 8fr 4fr;
    }

    @include notebook {
        grid-template-columns: 9fr 3fr;
        grid-column: 2 / 11;
    }

    @include desktop-hd {
        grid-template-columns: 6fr 6fr;
    }
}

.counter {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    gap: 0.5rem;
    width: 100%;

    @include tablet {
        grid-template-columns: repeat(5, 2fr);
    }

    @include smallscreen {
        gap: 1rem;
    }

    .underline {
        width: 100%;
        height: 33px;
        border-bottom: 2px solid $primary-color-light;
        opacity: 0.5;
    }

    a {
        text-decoration: none;
    }
}
