@import "@/styles/variables";

.result-line {
    @include paragraph;

    grid-area: resultline;
    font-weight: 700;

    @include notebook {
        @include paragraph-lg;

        height: fit-content;
    }

    .for-orgpage {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 30px;
        display: block;
    }
}
