@import "@/styles/variables";

.footer {
    grid-column: 1 / -1;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
    padding: 15rem $padding-sm 10rem;
    background: linear-gradient(225deg, rgb(248 248 248) -100%, rgb(255 255 255));

    @include notebook {
        padding: 4rem 0 0;
        grid-template-columns: repeat(12, 1fr);
        gap: 0;
    }

    .container {
        grid-column: 1 / -1;
        display: grid;
        grid-template-areas: "conditions" "line" "logo";
        row-gap: 3.5rem;
        justify-items: center;
        width: 100%;

        @include notebook {
            max-width: $max-inner-width;
            grid-column: 2 / 12;
            grid-template-columns: repeat(10, 1fr);
            row-gap: 3rem;
        }

        @include desktop {
            width: $max-inner-width;
        }
    }

    .conditions {
        @include col;

        grid-column: 1 / -1;
        gap: 2rem;
        align-items: center;

        @include paragraph;

        @include notebook {
            grid-column: 8 / 12;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: flex-start;
        }

        @include desktop {
            @include paragraph-lg;

            white-space: nowrap;
        }

        .red-link {
            @include row;

            gap: 0.75rem;
            color: $secondary-color;
            align-items: center;
        }
    }

    .logo-container {
        display: flex;
        justify-self: center;

        @include notebook {
            justify-self: flex-start;
            grid-column: 1 / 7;
            grid-row: 1 / 2;
        }
    }

    a {
        text-decoration: none;
        color: $secondary-color;
    }
}
