@import "@/styles/variables";

.logos-container {
    grid-column: 1 / -1;
    row-gap: 2rem;

    @include col;

    @include notebook {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        justify-self: start;
    }

    p {
        @include paragraph;

        text-align: center;

        @include notebook {
            text-align: left;

            @include paragraph-lg;
        }
    }

    .logos {
        @include col;

        align-items: center;
        width: 100%;
        gap: 2rem;
        position: relative;

        @include notebook {
            flex-direction: row;
            gap: 2.5rem;
        }

        @include desktop {
            gap: 4rem;
        }
    }

    a {
        text-decoration: none;
    }

    & :hover {
        opacity: 1;
    }

    img {
        object-fit: contain;

        &:hover {
            filter: opacity(70%);
        }
    }
}
