@import "@/styles/variables";

.text {
    @include json-newline;

    font-family: $logo-text;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: $shadow-light;
    padding: 0.2rem 0 0 0.5rem;

    @include smallscreen {
        text-shadow: none;
        font-size: 14px;
        line-height: 17px;
    }

    &-footer {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        text-shadow: none;
    }

    .link {
        color: $black;
        text-decoration: none;
    }
}
