@import "@/styles/variables";

.button {
    font-family: $primary-font-semibold;
    font-size: $fs-p;
    letter-spacing: 0.5px;
    color: $white;
    padding: 0.5rem 0.75rem;
    width: fit-content;
    min-width: fit-content;
    height: 2.5rem;
    border-radius: $border-radius;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @include tablet {
        padding: 0.5rem 1.2rem;
    }

    @include notebook {
        padding: 0.7rem 1.5rem;
        font-size: $fs-p-lg;
        text-transform: uppercase;
        height: 3.5rem;
    }

    @include desktop {
        gap: 0.75rem;
    }

    .label {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &_color_primary {
        background-color: $primary-color-dark;
    }

    &_color_primary-light {
        background-color: $primary-color-light;
    }

    &_color_secondary {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;

        &:hover {
            border: 1px solid $secondary-color;
            color: $secondary-color;
            background-color: $white;

            svg {
                fill: $secondary-color;
            }
        }
    }

    &_color_outline-secondary {
        background-color: transparent;
        border: 1px solid $secondary-color;
        color: $secondary-color;

        &:hover {
            background-color: $secondary-color;
            border: 1px solid transparent;
            color: $white;

            svg {
                fill: $white;
            }
        }
    }

    &_color_outline-gray {
        background-color: transparent;
        border: 1px solid $gray-light;
        color: $black;

        &:hover {
            background-color: $gray-dark;
            border: 1px solid transparent;
            color: $white;

            svg {
                fill: $white;
            }
        }
    }

    &_color_transparent {
        color: $secondary-color;
        background-color: transparent;
    }
}
