@import "@/styles/variables";

.topic-card {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: min(2.5rem) minmax(20px, 4.5rem) auto;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 319px) {
        gap: 0.25rem;
    }

    @include smallscreen {
        justify-items: end;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 3fr 1fr;
        min-height: 10rem;
    }

    @include notebook {
        min-height: 8rem;
    }

    &__label {
        @include h6-mobile;

        color: $black;
        grid-row: 2 / 3;
        align-self: end;
        justify-self: start;
        text-align: start;

        @media screen and (max-width: 320px) {
            font-size: $fs-p-sm - 1px;
            line-height: $linhe-p - 2px;
        }

        @include smallscreen {
            grid-row: 1 / 2;
            align-self: initial;
        }

        @include notebook {
            @include h5-mobile;
        }
    }

    &__link {
        @include paragraph-sm;

        letter-spacing: 0.1px;
        color: $primary-color-dark;
        align-self: end;
        justify-self: start;

        @media screen and (max-width: 319px) {
            font-size: $fs-p-sm - 1px;
            line-height: $linhe-p - 2px;
        }

        @include notebook {
            @include paragraph;
        }
    }
}
