@import "@/styles/variables";

.horizontal-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2rem 28rem;
    height: 30rem;

    &__heading-link {
        grid-column: 1 / -1;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        grid-template-rows: 1fr;
        padding: 0 1.25rem;

        @include notebook {
            grid-column: 2 / -1;
        }

        @include desktop {
            grid-column: 1 / -1;
            width: 100%;
            max-width: $max-inner-width;
            margin: 0 auto;
            padding: 0;
        }

        .inner {
            grid-row: 1;
            grid-column: 1 / span 6;

            @include desktop {
                grid-column: 2 / span 3;
            }
        }

        :not(:first-child) {
            position: relative;
            top: 3px;
            justify-self: end;
            grid-row: 1;
            grid-column: 8 / span 5;

            @include desktop {
                grid-column: 9 / span 4;
            }
        }
    }

    .scroll-nav {
        grid-row: 2;
        display: none;
        flex-direction: column;
        position: relative;
        top: 30%;
        z-index: 15;
        width: 4rem;
        height: 4rem;
        opacity: 1;

        @include scroll-nav-shadow;

        &__left {
            left: calc(8.3vw - 4.75rem);
            grid-column: 1 / 2;
        }

        &__right {
            right: -0.75rem;
            grid-column: 12 / -1;
        }

        @include notebook {
            display: grid;
        }

        &.hidden {
            display: none;
        }
    }

    .scroll-container {
        grid-column: 1 / -1;
        grid-row: 2;
        display: flex;
        overflow: auto;
        column-gap: 1.25rem;
        scroll-padding: 0 1.25rem;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        padding: 2rem 1.25rem 10rem;

        @include tablet {
            padding: 2.5rem 1.25rem 10rem;
        }

        @include notebook {
            $side-padding: 8.3vw;

            scroll-padding: 0 $side-padding 0 $side-padding;
            padding: 3rem $side-padding 10rem;
            overflow-x: hidden;
        }

        @include desktop {
            $side-padding: calc((100vw - $max-inner-width) / 2);

            scroll-padding: 0 $side-padding 0 $side-padding;
            padding: 3rem $side-padding 10rem;
        }

        @include desktop-lg {
            $side-padding: calc((100vw - $max-inner-width - 20px) / 2);

            scroll-padding: 0 $side-padding 0 $side-padding;
            padding: 3rem $side-padding 10rem;
        }
    }
}
