@import "@/styles/variables";

.main {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content auto;
    margin-bottom: 2rem;

    @include notebook {
        margin-bottom: 6rem;
    }
}

.container {
    padding: 0 $padding-sm;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem 1rem;
    margin-bottom: 2rem;

    @include desktop {
        width: $max-inner-width;
        margin: 0 auto;
        padding: 0;
    }
}
