@import "@/styles/variables";

.main-layout {
    min-height: 180rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content auto;

    @include notebook {
        min-height: 150rem;
    }

    &__cookie-page {
        min-height: 150rem;

        @include notebook {
            min-height: 80rem;
        }
    }

    main {
        grid-column: 1 / -1;
    }

    &__shrinked {
        min-height: 100rem;
    }
}

.skip-link {
    clip-path: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:focus-visible {
        clip-path: auto;
        height: auto;
        overflow: auto;
        position: absolute;
        width: auto;
        background-color: rgba($white, 90%);
        min-width: 100%;
        text-align: center;
        padding: 0.5rem 1rem;
        z-index: 500;

        @include paragraph-lg;
    }
}
