@import "@/styles/variables";

.search-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $primary-color-light;
    background-color: $gray-lighter;
    padding: 0 0.5rem;

    @include smallscreen {
        padding: 0.5rem 0.8rem;
    }

    @include notebook {
        padding: 0.5rem 1rem;
    }
}

.icon-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;

    @include smallscreen {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.search-input {
    padding: 0.5rem 0.1rem 0.5rem 0.5rem;
    width: 100%;

    @include paragraph-sm;

    @include tablet {
        font-size: $fs-p-lg;
        line-height: 100%;
    }

    @include notebook {
        font-size: $fs-h5-mobile;
        padding: 0.5rem 0.1rem 0.5rem 1rem;
    }
}
