@import "@/styles/variables";

.description {
    grid-column: 1 / -1;

    @include paragraph-lg;
}

.title-container {
    @include col;

    grid-column: 1 / -1;

    @include notebook {
        flex-flow: row wrap;
        gap: 0.5rem;
    }
}

.title-icon {
    display: flex;
    gap: 0.5rem;

    span {
        @include paragraph;

        color: $primary-color-dark;
        line-height: 1.6rem;

        &:first-of-type {
            min-width: fit-content;
        }

        &:not(:first-of-type) {
            max-width: calc(100vw - 200px);

            @include text-truncate;

            @include smallscreen {
                min-width: fit-content;
            }
        }

        &:not(:first-child)::before {
            @include dash-content;

            padding-right: 0.5rem;
        }
    }
}

.dashed-span::before {
    @include dash-content;

    padding-right: 0.5rem;
}

.detail-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-areas: "organization" "files" "services" "metadata";
    row-gap: 1rem;

    @include notebook {
        grid-template-columns: 20% auto;
        column-gap: 3rem;
        grid-template-areas: "organization files" "organization services" "organization metadata";
    }

    @include desktop {
        width: $max-inner-width;
    }
}

.detail-container-noorg {
    grid-column: 1 / -1;
    display: grid;
    grid-template-areas: "files" "services" "metadata";
    row-gap: 1rem;

    @include notebook {
        grid-template-columns: auto;
        grid-template-areas: "files" "services" "metadata";
    }

    @include desktop {
        width: $max-inner-width;
    }
}

.dataset-files {
    grid-area: files;

    h4 {
        margin-bottom: 1rem;
    }
}

.dataset-services {
    grid-area: services;
}

.file-card {
    @include col;

    padding: 1rem 1.25rem;
    gap: 1.5rem;
    background: $white;
    width: 100%;
    min-height: 10rem;
    margin-bottom: 0.2rem;

    @include card-shadow;

    @include tablet {
        padding: 2rem 2.25rem;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }

    &__col {
        @include col;

        align-items: flex-end;
    }

    &__row {
        @include row;

        width: 100%;
        gap: 1rem;
        align-items: flex-start;
    }

    &__icon {
        min-width: 2.2rem;
    }

    &__heading {
        @include col;

        gap: 0.25rem;
        word-wrap: break-word;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &-text {
            color: $primary-color-dark;
            line-height: 150%;
            text-align: start;

            @include paragraph;
        }
    }

    .file-type {
        margin-top: auto;
        padding-top: 1.25rem;
        color: rgb($primary-color-dark, 80%);
    }
}

.metadata {
    grid-area: metadata;

    h4 {
        margin-bottom: 1rem;
    }

    a,
    p {
        @include paragraph;
    }

    &__keywords {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    &__links {
        @include col;
    }

    &__link {
        @include text-truncate;

        max-width: calc(100vw - 100px);

        @include tablet {
            max-width: calc(100vw - 310px);
        }

        @include notebook {
            max-width: 39vw;
        }

        @include desktop {
            max-width: unset;
        }
    }

    &__themes {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5rem;
    }

    &__theme {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:not(:last-child)::after {
            content: " | ";
            padding: 0 1rem;
        }
    }

    &__temporal-line {
        display: flex;

        p:first-child::after {
            @include dash-content;

            padding: 0 0.5rem;
        }
    }
}
